*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: #333;
  background-color: crimson;
}

form {
  position: relative;
  display: block;
  align-items: center;
  #signDiv {
    position: absolute;
    display: block;
    width: 40vw;
    height: auto;
    border: 2px solid #333;
  }
}